#revisions {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.revision {
  padding: 60px 10px 10px;
  text-decoration: none;
  color: #069;
}

#revGraph {
  height: 350px;
}

rect {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis { font-size: 0.83em; }

circle {
  fill: white;
  fill-opacity: 0.2;
}

circle.selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
circle:hover {
  fill: #ff7f0e;
  stroke: #707f0e;
}
circle.selected:hover {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

#authors {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  line-height: 0;
  width: 100%;
  height: 200px;
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
}

.author {
  /* Safari */
  -webkit-transform: rotate(-75deg);
  /* Firefox */
  -moz-transform: rotate(-75deg);
  /* IE */
  -ms-transform: rotate(-75deg);
  /* Opera */
  -o-transform: rotate(-75deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  float: left;
  width: 10px;
  margin-top: 140px;
  padding: 10px 10px;
  text-decoration: none;
  color: #069;
  display: inline-block;
}

.author.active {
  color: #025;
  font-weight: bold;
}

.author:hover {
  color: #c00;
}
