#revisions {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.revision {
  padding: 60px 10px 10px;
  text-decoration: none;
  color: #069;
}

#revGraph {
  height: 350px;
}

path.slice {
  stroke-width: 2px;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

circle, .line {
  fill: none;
  stroke: #4682b4;
  stroke-width: 2px;
}

.axis { font-size: 0.83em; }

circle {
  fill: white;
  fill-opacity: 0.2;
}

circle.selected {
  fill: #346187;
  stroke: #b97d4b;
}
circle:hover {
  fill: #008080;
  stroke: #b97d4b;
}
circle.selected:hover {
  fill: #008080;
  stroke: #008080;
}

#authors {
  height: 350px;
}
